<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>springbootlog</contextName>

    <property name="BASE_LOG_HOME" value="D:\\questionnaire_log"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}[%level][%thread]-%msg%n</pattern>
        </encoder>
    </appender>
    <!-- Perf4J logger Appender -->
    <appender name="DailyAndSizeRollAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_LOG_HOME}/springboot-demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${BASE_LOG_HOME}/ota_root.%i.%d{yyyy-MM-dd}.log.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}[%level][%thread]-%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.freefly.questionnaire.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DailyAndSizeRollAppender"/>
    </root>
</configuration>
