<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freefly.questionnaire.mapper.TemplateMapper">

    <resultMap id="baseResultMap" type="SurveyQuestionnaireTemplate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_number" jdbcType="INTEGER" property="userNumber"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="questionnaire_id" jdbcType="INTEGER" property="questionnaireId"/>
    </resultMap>

    <resultMap id="SurveyTemplateResultMap" type="SurveyQuestionnaireTemplate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_number" jdbcType="INTEGER" property="userNumber"/>
        <collection property="surveyQuestionnaireList" ofType="SurveyQuestionnaire" javaType="java.util.List">
            <id column="sq_id" property="id"/>
            <result column="sq_title" property="title"/>
        </collection>
    </resultMap>

    <select id="queryTemplateByKeyWord" resultMap="SurveyTemplateResultMap">
        SELECT sqt.id, sqt.name, sqt.user_number, sq.id sq_id, sq.title sq_title
        FROM survey_questionnaire_template sqt
        INNER JOIN survey_questionnaire sq on sqt.id = sq.id
        ${ew.customSqlSegment}

        <!--  旧版   <if test="keyWord != null and keyWord != ''">WHERE sq.title LIKE CONCAT('%', #{keyWord}, '%');
        </if>-->
    </select>

</mapper>